<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta content="" text="" charset="utf-8&quot;&quot;" http-equiv="Content-Type"></meta><style type="text/css">
		body {
			font-family: Arial
		}

		p.head {
			font-SIZE: 12pt
		}

		p.strtext {
			font-SIZE: 12pt
		}
	</style></head><body>
	
<p style="margin: 10px 0px 0px; padding: 0px; font-family: SegoeUI, Arial, sans-serif; font-size: 14px;">
		<code style="font-family: SegoeUI, Arial, sans-serif;"><b>При [Режим]</b></code><b style="font-family: SegoeUI, Arial, sans-serif;"> обнаружены контрагенты без сопоставления</b></p>
	
<p style="margin: 10px 0px 0px; padding: 0px; font-family: SegoeUI, Arial, sans-serif; font-size: 14px;">
		<code style="font-family: SegoeUI, Arial, sans-serif;">Для обмена электронными документами необходимо выполнить сопоставление контрагентов:</code>
	</p>
	
<ul style="margin: 10px 0px 0px; font-family: SegoeUI, Arial, sans-serif; font-size: 14px;">
		[СтрокаСписокКонтрагентов]</ul></body></html>