<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta content="" text="" charset="utf-8&quot;&quot;" http-equiv="Content-Type"></meta><style type="text/css">
	body {font-family: Arial}
	p.head {font-SIZE: 12pt}
	p.strtext{font-SIZE: 12pt}
</style></head><body>
<p class="strtext">Для этого достаточно из настроек модуля нажать на кнопку «Подписки и оплата». Список подписок сгруппирован по организациям. Если нужно посмотреть подписку по конкретной компании, воспользуйтесь фильтром. 
</p>
<p class="strtext">Когда срок подписки будет подходить к концу, вы получите уведомление в модуле и сможете самостоятельно сформировать счет на продление.<br><span style="font-size: 12pt;">Если подписка еще не истекла, баннер уведомления будет подсвечиваться желтым цветом, а если закончилась — красным. Для просмотра списка подписок перейдите по ссылке с баннера.</span></p>
<p class="strtext">Подробнее об изменениях - <a href="https://support.kontur.ru/diadoc-1s8x/49266-oplata_v_module">в инструкции</a></p>
</body></html>