<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta content="" text="" charset="utf-8&quot;&quot;" http-equiv="Content-Type"></meta><style type="text/css">
		body {
			font-family: Arial;
			margin: 1.5%;
		}

		p.strtext2 {
			font-SIZE: 10pt;
			margin-bottom: -1%;
		}

		img.support {
			border: 0;
			margin-right: 2px;
			vertical-align: bottom
		}
	</style></head><body>

	<p class="strtext2">Возможные причины, по которым нужного контрагента нет в списке:</p>

	<br><ul><b>
			<li>
				<p class="strtext2">Не обновлен список контрагентов</p>
			</li>
		</b>




		<p class="strtext2">Обновите список контрагентов. Для этого нажмите на кнопку <img class="support" src="data:image/png;base64,[КартинкаОбновить]"></img>.Она расположена ниже поля выбора организации.</p>

		<p class="strtext2"><a href="[СсылкаНеОбновленСписокКонтрагентов]">Обновление списков</a></p>

		[ПолучениеДанныхИзДиадока]

		<br><b>
			<li>



				<p class="strtext2">Контрагент находится в другом списке</p>

			</li>
		</b>


		<p class="strtext2">До отправки приглашения контрагенты отображаются в списке <img class="support" src="data:image/png;base64,[КартинкаПоиск]"></img>Поиск новых контрагентов. Туда же попадают и
			заблокированные контрагенты. В иных случаях контрагенты отображаются в списке <img class="support" src="data:image/png;base64,[КартинкаКонтрагенты]"></img>Ваши контрагенты.</p>


		<p class="strtext2"><a href="[СсылкаКонтрагентВИномСписке]">Проверка смежного списка</a></p>

		<br><b>
			<li>



				<p class="strtext2">Выбрана некорректная организация</p>

			</li>
		</b>

		<p class="strtext2">Проверьте, какую организацию вы указали в поле выбора. Измените выбор, если заметили ошибку.
		</p>


		<p class="strtext2"><a href="[СсылкаНеВыбранаОрганизация]">Выбор организации</a></p>
	</ul><br><p class="strtext2"><img class="support" src="data:image/png;base64,[КартинкаИнструкция]"></img><a class="support" href="[СсылкаПосмотретьВсеПричины]">Посмотреть все причины</a></p>
	<p class="strtext2"><img class="support" src="data:image/png;base64,[КартинкаЦентрПоддержки]"></img><a class="support" href="[СсылкаОповещениеЦентрПоддержки]">Нужна помощь</a></p>

</body></html>