<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><title>HTML Document Template</title><style>
		p {
			font-family: Arial;
		}
	</style><meta http-equiv="content-type" content="text/html;charset=utf-8"></meta></head><body>
	
<p><code>Обновилась форма работы с контрагентами. Ниже описаны основные изменения:<br><br>1. Разделы "Ваши контрагенты", "Приглашают вас" и "Ожидается ответ" объединены в один общий список “Ваши контрагенты”. Контрагенты, по которым еще не завершена работа с приглашениями, расположены в верхней части списка. Дополнительно они будут отмечены иконками, которые позволяют прочитать текст приглашения.<br><br>2. Отправка приглашений новым контрагентам вынесена в отдельный раздел, к которому можно перейти по кнопке “Поиск новых контрагентов”. В нем выводятся только те контрагенты, которые были найдены в Диадоке по данным контрагентов из 1С. Ликвидированные и заблокированные контрагенты отмечены соответствующим статусом и расположены в нижней части списка.<br></code>
	</p>
	
<p><code>3. Добавлена строка быстрого поиска, которая позволяет находить контрагента по известной вам информации о нем. Поиск работает по следующим полям: Контрагент в Диадоке, ИНН, КПП, Идентификатор участника ЭДО.<br></code>
	</p>
	
<p><code>4. Добавлены возможности:</code></p>
	
<ul><li><code>Сохранение списка контрагентов при помощи команды “Вывести список”</code></li>
		
<li><code>Изменение состава колонок в списке контрагентов</code></li>
		
<li><code>Массовое удаление сопоставлений между контрагентами Диадока и 1С</code></li>
		
<li><code>Редактирование текста приглашения контрагентов к обмену документами</code></li>

<li><code>Просмотр даты изменения статуса отношений с контрагентом.<br><br></code></li>
	</ul><p><code>5. Групповое сопоставление и обновление данных с сервера Диадока разделено на две части: для каждого списка отдельно.</code>
	</p>
	
<p><code>Подробнее про изменения смотрите в <a href="https://support.kontur.ru/diadoc-1s8x/41614-rabota_s_kontragentami">инструкции по настройке контрагентов</a>.</code>
	</p>
	
<p> </p>
</body></html>